*{
  margin: 0;
  padding: 0;
  color: #000000;
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 1px;
  /* font-weight: 300; */
}
body{
  overflow-x: hidden;
}
nav{
  height: 6rem;
  width: 100vw;
  /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); */
  display: flex;
  /* position: fixed; */
  z-index: 10;
}

.logo{
/* padding:3vh 9vw; */
  /* padding: 7vh 10vh; */
  margin-left: 10%;
  margin-top:1.5%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}


.nav-links{
  display: flex;
  list-style: none; 
  width: 70vw;
  margin-left: 3%;
  /* margin-left: -6%; */
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  
}
.nav-links li a{
  text-decoration: none;
  margin: 0 0.7vw;
}
.nav-links li a:hover {
  color: #333333;
  text-decoration: none;
}
.nav-links li {
  position: relative;
}

.nav-links li a:hover::before{
  width: 80%;
}

.login-button{
  background-color: transparent;
  border: 1.5px solid #000000;
  padding: 0.6rem 1.8rem;
  margin-left: 1vw;
  font-size: 1rem;
  cursor: pointer;

}
.login-button:hover {
  color: #131418;
  background-color: #f7f2f6;
  border: 1.5px solid #000000;
  

}

.hamburger div{
  width: 30px;
  height:3px;
  background: #0c0c0b;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;
}


/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}
 
.banner img{
  /* position: relative; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 90%;
  opacity: 85%;
  position: relative;
}

.banner p{
  color: #000000;
  font-weight: bold;
  text-align: center;
  position: absolute;
  font-size: 50px;
  letter-spacing: 3px;
}
.banner .first{
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.banner .second{
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner .containerForInput{ 
  height: 12%;
  width: 38%; 
  /* background-color: #f7f2f6; */
  position: absolute;
  top: 55%;
  left: 35%;
  opacity: 90%;
  display: flex;
}
.banner .text{
  background: transparent;
  border: none;
  position: relative;
  /* display: block; */
  /* outline: none;
  width: 400px;
  height: 30px; */
  /* top: 50px; */
  /* margin: 0 auto;
  padding: 10px; */


}
.form {
background-color:#fff;
  color: #222;
  padding: 1rem 1rem 1.5rem;
  max-width: 500px;
  width: 80%;
  box-shadow: 0 0 350px rgba(0, 0, 0, 0.25);
  display: flex;
}

.form label {
  display: block;
  margin-bottom: 5px;
}

.form .form-group {
  margin: 7px 0;
  position: relative;
}

/* .form .form-group .line {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: royalblue;
  height: 2px;
  transition: transform 200ms ease;
  transform: scaleX(0);
  transform-origin: left;
} */

.form .form-group input:focus + .line {
  transform: scaleX(1);
}

.form input {
  width: 170%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.form input::placeholder {
  color: #ccc;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0.7rem 1rem;
  letter-spacing: 1px;
  border-radius: 2px;
  text-transform: uppercase;
  transition: background-color 300ms ease, transform 200ms ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn.btn-primary {
  margin-left: 40%;
  background-color: rgb(42, 42, 221);
  color: #fff;
}

.btn.btn-primary:hover {
  background-color: royalblue;
}


/*Stying for small screens*/
@media screen and (max-width: 800px){
  nav{
      /* position: fixed; */
      z-index: 3;
  }
  .hamburger{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 9%;
      top: 7%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
  }
  .nav-links{
      /* position: fixed; */
      background:#cacaca;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }
  .nav-links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav-links li{
      opacity: 0;
  }
  .nav-links li:nth-child(1){
      transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
      transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4){
      transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5){
      transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6){
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }
  .nav-links li:nth-child(7){
      transition: all 0.5s ease 1s;
      margin: 0;
  }
  li.fade{
      opacity: 1;
  }
.login-button{
  background-color: transparent;
  border: 1.5px solid #000000;
  padding: 0.6rem 1.8rem;
  margin-left: 0vw;
  font-size: 1rem;
  cursor: pointer;

}
.banner .first { 
  display: none;
}
.banner .second{
  display: none;
}
.form{
  display: none;
}

}